<%- include('partials/header') %>
<h1 id="greeting">Hello <%= name %></h1>
    <div class="container text-center">
        <div class="row">
            <div class="col-md-4">
                <img class="img-fluid" src="/public/cat1.jpg" alt="random image">
            </div>
            <div class="col-md-4">
                <img class="img-fluid" src="/public/cat2.jpg" alt="random image">
            </div>
            <div class="col-md-4">
                <img class="img-fluid" src="/public/cat3.jpg" alt="random image">
            </div>
        </div>
    </div>
    <form action="/logout" method="post">
        <button id="logOut" type="submit" class="btn btn-outline-primary">Logout</button>
    </form>
<%- include('partials/footer') %>